<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chexa WebApp</title>

    <script src="index.js" defer></script>
</head>
<body>
    <div class="container">
        <form action="http://127.0.0.1:5000/gpt" method="post" target="_blank" id="search-form">
            <input type="text" type="text" name="command" placeholder="Record voice...">
            <button type="button" id="VoiceRecogBtn">
                <i class="fas fa-microphone">Record command!</i>
            </button>
        </form>
    </div>
    <div id="result">Response: {{ result }}</div>
</body>
</html>