<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chexa WebApp</title>

    <script src="../index.js" defer></script>
    <script src="../commandResponse.js" defer></script>
</head>
<body>
    <div class="container">
        <form id="search-form">
            <input type="text" name="command" placeholder="Record voice...">
        </form>
    </div>
    <button type="button" id="VoiceRecogBtn">
        <i class="fas fa-microphone">Record command!</i>
    </button>
    <div id="result">Response: </div>
</body>
</html>